<div class="yhtab">
	<div class="top">
		<!--<div class="col-sm-9">
				<form class="form-inline">
				  <div class="form-group forms">
				    <div class="input-group inputs">
				      <input type="text" class="form-control"  placeholder="用户名,昵称">
				      <div class="input-group-btn buttn">
				      	<button class="btn btn-info ">
				      		<span class="glyphicon glyphicon-search"></span>
				      		搜索
				      	</button>
				      </div>
				    </div>
				  </div>
				</form>
		</div>
		<div class="col-sm-3">
				<button class="btn btn-success newues" routerLink="/workspace/content/uses/add"><span class="glyphicon glyphicon-user"></span><span>创建用户</span></button>
		</div>-->
		<form class="form-vertical" role="form">
		<div class="row">
			<div class="col-sm-10">
				<div class="input-group">
					<input #gb class="form-control" type="text" pInputText size="50" placeholder="请输入用户名">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-search"></i>
							搜索
						</button>
					</span>
				</div>
				
			</div>
			<div class="col-sm-2">
				<button class="btn btn-success newues" type="button" routerLink="/workspace/content/uses/add">
					<i class="fa fa-user"></i>
					创建用户
				</button>	
			</div>	
		</div>
	</form>
	</div>
	<div class="tables">
		<!--<table border="1px solid #C8C8C8" cellspacing="" cellpadding="" class="table table-bordered">
			<thead>
				<tr>
					<th><input type="checkbox" /></th>
					<th>序号</th>
					<th>用户名</th>
					<th>注册时间</th>
					<th>最后登陆</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of users;let i=index">
					<td><input type="checkbox" [name]=item.id/></td>
					<td>{{i+1}}</td>
					<td>{{item.username}}</td>
					<td>{{item.regtime}}</td>
					<td>{{item.logintime}}</td>
					<td>
						<button class="btn btn-xs btn-primary" (click)="edit(item.id)" [routerLink]="['/workspace/content/uses',item.id]">编辑</button>
						<button class="btn btn-xs btn-danger" (click)="del(item.id)">删除</button>
					</td>
				</tr>
			</tbody>
		</table>-->
		<p-dataTable [value]="users" [globalFilter]="gb" [rows]="10"  [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
		    <p-column  header="序号" [sortable]="true">
		    	<ng-template let-col let-car="rowData"  pTemplate="body" let-i="rowIndex">
			       {{i+1}}
			    </ng-template>
		    </p-column>
		    <p-column field="username" header="用户名" [sortable]="true"></p-column>
		    <p-column field="regtime" header="注册时间" [sortable]="true"></p-column>
		    <p-column field="logintime" header="最后登录" [sortable]="true"></p-column>
		    <p-column header="操作">
		    	<ng-template let-col let-car="rowData"  pTemplate="body" let-i="rowIndex">
			       <a href="javascript:void(0)" (click)="edit(car.id)" [routerLink]="['/workspace/content/uses',car.id]">
			       	<i class="fa fa-pencil-square-o" ></i>
			       </a> &nbsp;&nbsp;&nbsp;&nbsp; 
			       <a href="javascript:void(0)" (click)="del(car.id)">
			       	<i class="fa fa-times" ></i>
			       </a>
			    </ng-template>
		    </p-column>
		</p-dataTable>
	</div>
</div>
<!--<div class="page">
		<nav aria-label="Page navigation">
		  <ul class="pagination pagination-sm">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
</div>-->
