.juesgl{
	height: 500px;
	overflow: scroll;
	overflow-x: hidden;
}
.forms,.inputs{
	width: 100%;
}
/*.top{
	padding-top: 10px;
}
.newues{
	float: right;
}
.newues span{
	margin:0 2px;
}*/
.tables{
	padding: 10px;
	margin-top: 10px;
}
.tables tr{
	display: flex;
}
.tables tr th:first-child,.tables tr td:first-child{
	flex: 1;
	text-align: center;
}
.tables tr th:last-child,.tables tr td:last-child{
	flex: 2;
	text-align: center;
}
/*.tables tbody tr:nth-child(2n-1){
	background: #F7F7F7;
}*/
.tables tr th{
	text-align: center;
}
.tables tr th,.tables tr td{
	flex: 4;
}
