<div id="login">
	<div class="panel col-md-6 col-md-offset-3 col-xs-12 login">
	<h1 class="panel-heading">
		EMP—admin
	</h1>
	<div class="panel-body">
    <!--<form class="form-horizontal" role="form" name="loginForm">
		  <div class="form-group">
		    <label for="user" class="col-sm-2 control-label">用户名</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="user" placeholder="请输入用户名" name="user"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="lastname" class="col-sm-2 control-label">密码</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="password" placeholder="请输入密码" name="password"/>
		  </div>
		  <div class="form-group">
		    <div class="col-xs-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox">请记住我
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-xs-offset-3 col-xs-3">
		      <button type="submit" class="btn btn-success">登录</button>
		    </div>
		    <div class="col-xs-3">
		      <button type="submit" class="btn btn-danger">忘记密码</button>
		    </div>
		  </div>
		</form>-->
		<form class="form-horizontal" role="form" #regForm="ngForm" id="myForm"> 
		  <div class="form-group">
		    <label for="user" class="col-sm-2 control-label">用户名:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" name="username" id="user" [(ngModel)]="username" #user="ngModel" required="required"  minlength="5" pattern="^[a-zA-Z0-9_]*$" placeholder="请输入用户名">
		    </div>
		  </div>
		  <div class="col-sm-10 col-sm-offset-2 msg">
		    <div *ngIf="user.pristine||user.errors==null">&nbsp;</div>
			<div *ngIf="user.invalid && user.dirty">
				<div *ngIf="user.errors.required">用户名不能为空</div>
				<div *ngIf="user.errors.minlength||user.errors.pattern">用户名的必须为数字字母下划线且长度>=5</div>	
		<!--		<div *ngIf="user.errors.pattern">用户名必须为数字字母下划线</div>	-->
			</div>
		  </div>
		  <div class="form-group">
		    <label for="pass" class="col-sm-2 control-label">密码:</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" name="password" id="pass" [(ngModel)]="password" #pass="ngModel" required="required"  minlength="6" pattern="^[a-zA-Z0-9_]*$" placeholder="请输入密码">
		    </div>
		  </div>
		  <div class="col-sm-10 col-sm-offset-2 msg">
		    <div *ngIf="pass.pristine||pass.errors==null">&nbsp;</div>
			<div *ngIf="pass.invalid && pass.dirty">
				<div *ngIf="pass.errors.required">密码不能为空</div>
				<div *ngIf="pass.errors.minlength||pass.errors.pattern">用户名的必须为数字字母下划线且长度>=5</div>
<!--				<div *ngIf="pass.errors.pattern">密码必须为数字字母下划线</div>	-->
			</div>
		  </div>		  
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox">请记住我
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-xs-offset-3 col-xs-3">
		      <button type="submit" class="btn btn-success" [disabled]="!regForm.form.valid" (click)="submit()">登录</button>
		    </div>
		    <div class="col-xs-3">
		      <button type="submit" class="btn btn-danger">忘记密码</button>
		    </div>
		  </div>
		</form>
  </div>
</div>
</div>


	<!--ngModel 绑定的变量名和模板变量不能重名-->
	<!--{{stu.name}}  <br>
	valid 验证是否通过 true表示验证通过:{{stu.valid}}   ---{{stu.invalid}}<br>
	dirty input中的值是否发生过变化 true 表示发生变化了:{{stu.dirty}} -- {{stu.pristine}}<br>
	touch input表示是否触发   true例如光标移出:  {{stu.touched}}--{{stu.untouched}}-->
	
	<!--<div [hidden]="stu.valid || stu.pristine" class="alert alert-danger">用户名不能为空</div>
	<div [hidden]="!stu.pristine" class="alert alert-info">请输入用户名</div>-->