.header{
	border-bottom: 1px solid #414141;
	height: 60px;
	display: flex;
}
.header .left{
	flex: 1;
	height: 60px;
	display: flex;
	flex-direction: row;
	padding: 0;
}
.header .left span{
	color: white;
	font-size: 26px;
	line-height: 60px;
	padding: 0 20px;
}
.imgmore, .headimg,.down{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.imgmore img ,.headimg img,.down img{
	height: 25px;
}
.header .right .name span{
	color: white;
	font-size: 20px;
	line-height: 60px;
	padding: 0 20px;
}
.header .right{
	color: white;
	height: 60px;
	flex: 1;
}
.header .right .rightcon{
	display: flex;
	flex-direction: row;
	float: right;
	margin:0 10px;
}
#dropdownMenu1{
	height: 60px;
	line-height: 60px;
}
.dropdown-menu{
	padding: 0;
}
.dropdown-menu>li{
	height: 40px;
}
.dropdown-menu>li>a {
	line-height: 40px;
}
.dropdown-menu>li>a img{
	height: 16px;
}
.dropdown-menu>li>a>span{
	color: #282828;
}
