<div class="header">
		<div class="left">
			<div>
				<span>EMP-Admin</span>
			</div>
			<div class="imgmore">
					<img src="../../../assets/img/more.png"/>
			</div>
		</div>
		<div class="right">
				<div class="rightcon">
					<div class="name">
						<span>小鬼</span>
					</div>
					<div class="headimg"> 
							<img src="../../../assets/img/banane.jpg" alt="" />
					</div>
					<div class="down">
						<div class="dropdown">
						  <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    <img style="height: 25px;" src="../../../../assets/img/down.png"/>
						  </div>
						  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
						    <li><a href="#">
						    	<img src="../../../assets/img/我的.png" alt="" />
						    	<span>用户资料</span>
						    </a></li>
						    <li><a href="#">
						    	<img src="../../../assets/img/设置.png" alt="" />
						    	<span>个人设置</span>
						    </a></li>
						    <li><a href="#">
						    	<img src="../../../assets/img/消息.png" alt="" />
						    	<span>消息</span>
						    </a></li>
						    <li><a href="#">
						    	<img src="../../../assets/img/退出.png" alt="" />
						    	<span>退出</span>
						    </a></li>
						  </ul>
						</div>	
					</div>
				</div>
		</div>
</div>
