<div class="usetab">
	<form class="form-horizontal" #regForm="ngForm" id="myForm">
	  <div class="form-group" *ngIf="showtype">
	    <label for="inputEmail3" class="col-sm-2 control-label">头像:</label>
	    <div class="col-sm-7">
	      <input type="file" class="form-control"  placeholder="头像">
	    </div>
	    <div class="col-sm-3 msg">
	    	
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">用户名:</label>
	    <div class="col-sm-7">
	      	<input type="text" class="form-control" [value]="username" name="username" id="" [(ngModel)]="username" #user="ngModel" required="required"  minlength="3" placeholder="用户名">
	    </div>
	    <div class="col-sm-3 msg">
	    	<div *ngIf="user.pristine||user.errors==null">&nbsp;</div>
			<div *ngIf="user.invalid && user.dirty">
				<div *ngIf="user.errors.required">用户名不能为空</div>
				<div *ngIf="user.errors.minlength">用户名格式不正确或长度<3</div>	
				<!--<div *ngIf="user.errors.pattern">用户名必须为数字字母下划线</div>	-->
			</div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">常用邮箱:</label>
	    <div class="col-sm-7">
	      <input type="email" class="form-control"  [value]="email"  name="email" id="" [(ngModel)]="email" #emails="ngModel" required="required" pattern="^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$" placeholder="常用邮箱">
	    </div>
	    <div class="col-sm-3 msg">
	    	<div *ngIf="emails.pristine||emails.errors==null">&nbsp;</div>
			<div *ngIf="emails.invalid && emails.dirty">
				<div *ngIf="emails.errors.required">邮箱不能为空</div>
				<div *ngIf="emails.errors.pattern">邮箱格式不正确</div>
			</div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">密码:</label>
	    <div class="col-sm-7">
	      <input type="password" class="form-control" [value]="password" name="password" id="" [(ngModel)]="password" #pass="ngModel" required="required"  minlength="8" pattern="^[a-zA-Z0-9_]*$" (blur)="repas()" placeholder="密码，至少8位">
	    </div>
	    <div class="col-sm-3 msg">
	    	<div *ngIf="pass.pristine||pass.errors==null">&nbsp;{{pasmsg}}</div>
			<div *ngIf="pass.invalid && pass.dirty">
				<div *ngIf="pass.errors.required">密码不能为空</div>
				<div *ngIf="pass.errors.minlength||pass.errors.pattern">密码格式不正确或长度<8</div>	
				<!--<div *ngIf="user.errors.pattern">用户名必须为数字字母下划线</div>	-->
			</div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">重复密码:</label>
	    <div class="col-sm-7">
	      <input type="password" class="form-control"  name="repassword" id="" [(ngModel)]="repassword" placeholder="重复密码" (blur)="repas()">
	    </div>
	    <div class="col-sm-3 msg">
	    	<div>&nbsp;{{pasmsg}}</div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">个人简介:</label>
	    <div class="col-sm-7">
	      <textarea name="" class="form-control" rows="3" cols="60" [value]="profile" name="profile" id="" [(ngModel)]="profile" #pros="ngModel" required="required"  minlength="6" maxlength="60"></textarea>
	    </div>
	    <div class="col-sm-3 msg">
	    	<div *ngIf="pros.pristine||pros.errors==null">&nbsp;</div>
			<div *ngIf="pros.invalid && pros.dirty">
				<div *ngIf="pros.errors.required">个人简介不能为空</div>
				<div *ngIf="pros.errors.minlength||pros.errors.maxlength">个人简介字数不能太少</div>	
				<!--<div *ngIf="user.errors.pattern">用户名必须为数字字母下划线</div>	-->
			</div>
	    </div>
	  </div>
	  <div class="form-group" *ngIf="showtype">
	    <label for="inputPassword3" class="col-sm-2 control-label">出生日期:</label>
	    <div class="col-sm-7">
	      <input type="datetime-local" class="form-control" name="datetimes" id="" [(ngModel)]="datetimes">
	    </div>
	    <div class="col-sm-3">
	    	
	    </div>
	  </div>
	  <div class="form-group" *ngIf="showtype">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-success" [disabled]="!regForm.form.valid || dis=='yes'" (click)="ctrlsAdd();regForm.reset()">保存</button>
	    </div>
	  </div>
	  <div class="form-group" *ngIf="!showtype">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-primary" [disabled]="!regForm.form.valid || dis=='yes'" (click)="ctrlsEdit();regForm.reset()">保存</button>
	    </div>
	  </div>
	</form>	
</div>

